{% extends "base.html" %}
{% block content %}

<h2>Users</h2>

<div class="user-grid">

{% for user in users %}

<div class="user-card">

    <h3>{{ user.name }}</h3>

    <a href="{{ url_for('get_user_movies', user_id=user.id) }}"
       class="btn">
        View Movies
    </a>

</div>

{% endfor %}

</div>

<section class="form-section">

<h2>Add New User</h2>

<form class="add-form"
      action="{{ url_for('create_user') }}"
      method="POST">

    <input
        type="text"
        name="username"
        placeholder="User name"
        required>

    <button>Add User</button>

</form>

</section>

{% endblock %}